<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\Release\netcoreapp3.1\publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>
  <ItemGroup>
    <Content Include="scripts\**\*" CopyToOutputDirectory="PreserveNewest" />
    <Content Include="Migrations\*.sql" CopyToOutputDirectory="PreserveNewest" />
  </ItemGroup>

  <Target Name="CustomActionsAfterPublish" AfterTargets="AfterPublish">
    <PropertyGroup>
      <BashExeDir Condition=" '$(BashExeDir)'=='' ">C:\Windows\WinSxS\amd64_microsoft-windows-lxss-bash_31bf3856ad364e35_10.0.18362.1049_none_4d57e2a81f5ada28</BashExeDir>
      <BashExe Condition=" '$(BashExe)'=='' ">$(BashExeDir)\bash.exe</BashExe>
      <ScriptRoot Condition=" '$(ScriptRoot)'=='' ">/mnt/c/Users/Steve/source/repos/tmp/WebApplication1/WebApplication1</ScriptRoot>
    </PropertyGroup>
    <Exec Command="$(BashExe) -c &quot;cd $(ScriptRoot); ./scripts/deploy.sh&quot;" />
  </Target>
</Project>